# {{ ansible_managed }}
[Unit]
Description=mita celery service
After=network.target rabbitmq-server.service
Requires=rabbitmq-server.service

[Service]
Type=forking
EnvironmentFile=/etc/default/mita
User={{ ansible_ssh_user }}
WorkingDirectory={{ app_home }}/src/{{ app_name }}/{{ app_name }}
StandardOutput=journal
StandardError=journal
ExecStart={{ app_home }}/bin/celery -A async worker --loglevel=info   

[Install]
WantedBy=multi-user.target
