
provider = {
    # OVH ephemeral
    'openstack': {
        'username': '{{ provider_user }}',
        'password': '{{ provider_password }}',
        'auth_url': 'https://auth.cloud.ovh.net',
        'auth_version': '3.x_password',
        'service_region': 'BHS1',
        'tenant_name': '5633955729735406',
    }
}
