from textwrap import dedent

keyname = "jenkins-build"

nodes = {
    'precise_small': {
        'script': dedent("""#!/bin/bash
        curl -u {{ prado_user | default('admin') }}:{{ prado_token }} -L "{{ prado_url }}/setup/slave/?token={{ jenkins_prado_token }}&executors=1&labels=amd64+precise+small+x86_64+rebootable&nodename=precise_small__%s" | bash
        """),
        'keyname': keyname,
        'image_name': 'Ubuntu 12.04',
        'size': 'vps-ssd-1',
        'labels': ['amd64', 'x86_64', 'precise', 'small', 'rebootable'],
        'provider': 'openstack'
    },
    'precise_huge': {
        'script': dedent("""#!/bin/bash
        curl -u {{ prado_user | default('admin') }}:{{ prado_token }} -L "{{ prado_url }}/setup/slave/?token={{ jenkins_prado_token }}&executors=1&labels=amd64+precise+huge+x86_64+rebootable&nodename=precise_huge__%s" | bash
        """),
        'keyname': keyname,
        'image_name': 'Ubuntu 12.04',
        'size': 'hg-30',
        'labels': ['amd64', 'x86_64', 'precise', 'huge', 'rebootable'],
        'provider': 'openstack'
    },
    'wheezy_small': {
        'script': dedent("""#!/bin/bash
        apt-get update && apt-get install -y -q curl
        curl -u {{ prado_user | default('admin') }}:{{ prado_token }} -L "{{ prado_url }}/setup/slave/?token={{ jenkins_prado_token }}&executors=1&labels=amd64+wheezy+small+x86_64+rebootable&nodename=wheezy_small__%s" | bash
        """),
        'keyname': keyname,
        'image_name': 'Debian 7',
        'size': 'vps-ssd-1',
        'labels': ['amd64', 'x86_64', 'wheezy', 'small', 'rebootable'],
        'provider': 'openstack'
    },
    'wheezy_huge': {
        'script': dedent("""#!/bin/bash
        apt-get update && apt-get install -y -q curl
        curl -u {{ prado_user | default('admin') }}:{{ prado_token }} -L "{{ prado_url }}/setup/slave/?token={{ jenkins_prado_token }}&executors=1&labels=amd64+wheezy+huge+x86_64+rebootable&nodename=wheezy_huge__%s" | bash
        """),
        'keyname': keyname,
        'image_name': 'Debian 7',
        'size': 'hg-30',
        'labels': ['amd64', 'x86_64', 'wheezy', 'huge', 'rebootable'],
        'provider': 'openstack'
    },
    'jessie_small': {
        'script': dedent("""#!/bin/bash
        apt-get update && apt-get install -y -q curl
        curl -u {{ prado_user | default('admin') }}:{{ prado_token }} -L "{{ prado_url }}/setup/slave/?token={{ jenkins_prado_token }}&executors=1&labels=amd64+jessie+small+x86_64+rebootable&nodename=jessie_small__%s" | bash
        """),
        'keyname': keyname,
        'image_name': 'Debian 8',
        'size': 'vps-ssd-1',
        'labels': ['amd64', 'x86_64', 'jessie', 'small', 'rebootable'],
        'provider': 'openstack'
    },
# XXX Currently disabled because we don't have pre-fab images that contain installed deps. This particular
# machine can take +40 minutes to get ready (vs. 6 minutes for other nodes). It is only used for Ceph builds
# so this service is now configuring a "pbuilder" machine (Ubuntu Trusty) that can build Jessie.
#    'jessie_huge': {
#        'script': dedent("""#!/bin/bash
#        apt-get update && apt-get install -y -q curl
#        curl -u {{ prado_user | default('admin') }}:{{ prado_token }} -L "{{ prado_url }}/setup/slave/?token={{ jenkins_prado_token }}&executors=1&labels=amd64+jessie+huge+x86_64+rebootable&nodename=jessie_huge__%s" | bash
#        """),
#        'keyname': keyname,
#        'image_name': 'Debian 8',
#        'size': 'hg-30',
#        'labels': ['amd64', 'x86_64', 'jessie', 'huge', 'rebootable'],
#        'provider': 'openstack'
#    },
    'ceph_ansible_pr_trusty': {
        'script': dedent("""#!/bin/bash
        curl -u {{ prado_user | default('admin') }}:{{ prado_token }} -L "{{ prado_url }}/setup/slave/?token={{ jenkins_prado_token }}&executors=1&labels=ceph_ansible_pr_trusty&nodename=ceph_ansible_pr_trusty__%s" | bash
        """),
        'keyname': keyname,
        'image_name': 'Ubuntu 14.04',
        'size': 'vps-ssd-1',
        'labels': ['ceph_ansible_pr_trusty'],
        'provider': 'openstack',
        'storage': 10
    },
    'trusty_small': {
        'script': dedent("""#!/bin/bash
        curl -u {{ prado_user | default('admin') }}:{{ prado_token }} -L "{{ prado_url }}/setup/slave/?token={{ jenkins_prado_token }}&executors=1&labels=amd64+trusty+small+x86_64+rebootable&nodename=trusty_small__%s" | bash
        """),
        'keyname': keyname,
        'image_name': 'Ubuntu 14.04',
        'size': 'vps-ssd-1',
        'labels': ['amd64', 'x86_64', 'trusty', 'small', 'rebootable'],
        'provider': 'openstack'
    },
    'jessie_trusty_pbuilder_huge': {
        'script': dedent("""#!/bin/bash
        curl -u {{ prado_user | default('admin') }}:{{ prado_token }} -L "{{ prado_url }}/setup/slave/?token={{ jenkins_prado_token }}&executors=1&labels=amd64+huge+jessie+x86_64+rebootable+trusty-pbuilder&nodename=jessie_trusty_pbuilder_huge__%s" | bash
        """),
        'keyname': keyname,
        'image_name': 'Ubuntu 14.04',
        'size': 'hg-30',
        'labels': ['trusty-pbuilder', 'amd64', 'x86_64', 'jessie', 'huge', 'rebootable'],
        'provider': 'openstack'
    },
    'xenial_trusty_pbuilder_huge': {
        'script': dedent("""#!/bin/bash
        curl -u {{ prado_user | default('admin') }}:{{ prado_token }} -L "{{ prado_url }}/setup/slave/?token={{ jenkins_prado_token }}&executors=1&labels=amd64+huge+xenial+x86_64+rebootable+trusty-pbuilder&nodename=xenial_trusty_pbuilder_huge__%s" | bash
        """),
        'keyname': keyname,
        'image_name': 'Ubuntu 14.04',
        'size': 'hg-30',
        'labels': ['trusty-pbuilder', 'amd64', 'x86_64', 'xenial', 'huge', 'rebootable'],
        'provider': 'openstack'
    },
    'trusty_huge': {
        'script': dedent("""#!/bin/bash
        curl -u {{ prado_user | default('admin') }}:{{ prado_token }} -L "{{ prado_url }}/setup/slave/?token={{ jenkins_prado_token }}&executors=1&labels=amd64+trusty+huge+x86_64+rebootable+rebootable&nodename=trusty_huge__%s" | bash
        """),
        'keyname': keyname,
        'image_name': 'Ubuntu 14.04',
        'size': 'hg-30',
        'labels': ['amd64', 'x86_64', 'trusty', 'huge', 'rebootable'],
        'provider': 'openstack'
    },
    'centos6_small': {
        'script': dedent("""#!/bin/bash
        curl -u {{ prado_user | default('admin') }}:{{ prado_token }} -L "{{ prado_url }}/setup/slave/?token={{ jenkins_prado_token }}&executors=2&labels=amd64+centos6+x86_64+small+rebootable&nodename=centos6_small__%s" | bash"""),
        'keyname': keyname,
        'image_name': 'Centos 6',
        'size': 'vps-ssd-1',
        'labels': ['amd64', 'x86_64', 'centos6', 'small', 'rebootable'],
        'provider': 'openstack'
    },
    'centos6_huge': {
        'script': dedent("""#!/bin/bash
        curl -u {{ prado_user | default('admin') }}:{{ prado_token }} -L "{{ prado_url }}/setup/slave/?token={{ jenkins_prado_token }}&executors=2&labels=amd64+centos6+x86_64+huge+rebootable&nodename=centos6_huge__%s" | bash"""),
        'keyname': keyname,
        'image_name': 'Centos 6',
        'size': 'hg-30',
        'labels': ['amd64', 'x86_64', 'centos6', 'huge', 'rebootable'],
        'provider': 'openstack'
    },
    'ceph_ansible_pr_centos7': {
        'script': dedent("""#!/bin/bash
        curl -u {{ prado_user | default('admin') }}:{{ prado_token }} -L "{{ prado_url }}/setup/slave/?token={{ jenkins_prado_token }}&executors=1&labels=ceph_ansible_pr_centos7&nodename=ceph_ansible_pr_centos7__%s" | bash"""),
        'keyname': keyname,
        'image_name': 'Centos 7',
        'size': 'vps-ssd-1',
        'labels': ['ceph_ansible_pr_centos7'],
        'provider': 'openstack',
        'storage': 10
    },
    'centos7_small': {
        'script': dedent("""#!/bin/bash
        curl -u {{ prado_user | default('admin') }}:{{ prado_token }} -L "{{ prado_url }}/setup/slave/?token={{ jenkins_prado_token }}&executors=2&labels=amd64+centos7+small+x86_64+rebootable&nodename=centos7_small__%s" | bash"""),
        'keyname': keyname,
        'image_name': 'Centos 7',
        'size': 'vps-ssd-1',
        'labels': ['amd64', 'x86_64', 'centos7', 'small', 'rebootable'],
        'provider': 'openstack'
    },
    'centos7_huge': {
        'script': dedent("""#!/bin/bash
        curl -u {{ prado_user | default('admin') }}:{{ prado_token }} -L "{{ prado_url }}/setup/slave/?token={{ jenkins_prado_token }}&executors=2&labels=amd64+centos7+huge+x86_64+rebootable&nodename=centos7_huge__%s" | bash"""),
        'keyname': keyname,
        'image_name': 'Centos 7',
        'size': 'hg-30',
        'labels': ['amd64', 'x86_64', 'centos7', 'huge', 'rebootable'],
        'provider': 'openstack'
    },
    '__force_dict__': True

}
