# {{ ansible_managed }}
from prod_db import sqlalchemy
from prod_jenkins import jenkins

# Server Specific Configurations
server = {
    'port': '8000',
    'host': '0.0.0.0'
}

# Pecan Application Configurations
app = {
    'root': 'mita.controllers.root.RootController',
    'modules': ['mita'],
    'static_root': '%(confdir)s/public',
    'template_path': '%(confdir)s/mita/templates',
    'debug': False,
}

logging = {
    'root': {'level': 'INFO', 'handlers': ['console']},
    'loggers': {
        'mita': {'level': 'DEBUG', 'handlers': ['console']},
        'pecan': {'level': 'DEBUG', 'handlers': ['console']},
        'py.warnings': {'handlers': ['console']},
        '__force_dict__': True
    },
    'handlers': {
        'console': {
            'level': 'DEBUG',
            'class': 'logging.StreamHandler',
            'formatter': 'color'
        }
    },
    'formatters': {
        'simple': {
            'format': ('%(asctime)s %(levelname)-5.5s [%(name)s]'
                       '[%(threadName)s] %(message)s')
        },
        'color': {
            '()': 'pecan.log.ColorFormatter',
            'format': ('%(asctime)s [%(padded_color_levelname)s] [%(name)s]'
                       '[%(threadName)s] %(message)s'),
        '__force_dict__': True
        }
    }
}

from textwrap import dedent

provider = {
    'openstack': {
        'username': 'adeza',
        'password': 'XXXX',
        'auth_url': 'http://os1-public.osop.rhcloud.com:5000',
        'auth_version': '2.0_password',
        'service_region': 'OS1Public',
        'tenant_name': 'ceph-ci',
    }
}

nodes = {
    'precise': {
        'script': dedent("""#!/bin/bash
        curl -L "http://172.18.181.11/setup/slave/?token=727999862a610c7436318580de6f3e27&executors=1&labels=amd64+precise+trusty+wheezy+jessie+x86_64&nodename=precise__%s" | bash
        """),
        'keyname': 'jenkins-build',
        'image_name': 'Ubuntu Trusty (2014.04) cloudimg',
        'size': 'c3.mxlarge',
        'labels': ['amd64', 'x86_64', 'precise', 'trusty', 'wheezy', 'jessie'],
        'provider': 'openstack'
    },
    'wheezy': {
        'script': dedent("""#!/bin/bash
        curl -L "http://172.18.181.11/setup/slave/?token=727999862a610c7436318580de6f3e27&executors=1&labels=amd64+precise+trusty+wheezy+jessie+x86_64&nodename=wheezy__%s" | bash
        """),
        'keyname': 'jenkins-build',
        'image_name': 'Ubuntu Trusty (2014.04) cloudimg',
        'size': 'c3.mxlarge',
        'labels': ['amd64', 'x86_64', 'precise', 'trusty', 'wheezy', 'jessie'],
        'provider': 'openstack'
    },
    'trusty': {
        'script': dedent("""#!/bin/bash
        curl -L "http://172.18.181.11/setup/slave/?token=727999862a610c7436318580de6f3e27&executors=1&labels=amd64+precise+trusty+wheezy+jessie+x86_64&nodename=trusty__%s" | bash
        """),
        'keyname': 'jenkins-build',
        'image_name': 'Ubuntu Trusty (2014.04) cloudimg',
        'size': 'c3.mxlarge',
        'labels': ['amd64', 'x86_64', 'precise', 'trusty', 'wheezy', 'jessie'],
        'provider': 'openstack'
    },
    'centos6': {
        'script': dedent("""#!/bin/bash
        curl -L "http://172.18.181.11/setup/slave/?token=727999862a610c7436318580de6f3e27&executors=2&labels=centos6.5+amd64+centos6+centos+centos6-pbuild+centos-pbuild+x86_64&nodename=centos6__%s" | bash"""),
        'keyname': 'jenkins-build',
        'image_name': 'centos-6.5-20140117.0.x86_64.qcow2',
        'size': 'c3.mxlarge',
        'labels': ['amd64', 'x86_64', 'centos', 'centos6', 'centos6.5'],
        'provider': 'openstack'
    },
    'rhel6': {
        'script': dedent("""#!/bin/bash
        curl -L "http://172.18.181.11/setup/slave/?token=727999862a610c7436318580de6f3e27&executors=2&labels=rhel6.5+amd64+rhel6+rhel+rhel6-pbuild+rhel-pbuild+x86_64&nodename=rhel6__%s" | bash"""),
        'keyname': 'jenkins-build',
        'image_name': 'centos-6.5-20140117.0.x86_64.qcow2',
        'size': 'c3.mxlarge',
        'labels': ['amd64', 'x86_64', 'rhel6', 'rhel6.5'],
        'provider': 'openstack'
    },
    'rhel7': {
        'script': dedent("""#!/bin/bash
        curl -L "http://172.18.181.11/setup/slave/?token=727999862a610c7436318580de6f3e27&executors=2&labels=amd64+rhel7+amd64+x86_64&nodename=rhel7__%s" | bash"""),
        'keyname': 'jenkins-build',
        'image_name': 'CentOS-7.1-x86_64-GenericCloud-1503',
        'size': 'c3.mxlarge',
        'labels': ['amd64', 'x86_64', 'rhel7'],
        'provider': 'openstack'
    },
    'centos7': {
        'script': dedent("""#!/bin/bash
        curl -L "http://172.18.181.11/setup/slave/?token=727999862a610c7436318580de6f3e27&executors=2&labels=amd64+centos7+amd64+x86_64&nodename=centos7__%s" | bash"""),
        'keyname': 'jenkins-build',
        'image_name': 'CentOS-7.1-x86_64-GenericCloud-1503',
        'size': 'm3.mxlarge',
        'labels': ['amd64', 'x86_64', 'centos7'],
        'provider': 'openstack'
    },
    '__force_dict__': True

}
